<?xml version="1.0"?>

<launch>
	<group>

		<!--robot platform-->
		<include file="$(find neo_base_mpo_500)/ros/launch/base_drive/base_drive_chain.launch"/>
		<include file="$(find neo_base_mpo_500)/ros/launch/platform_ctrl/platformCtrl.launch">
			<arg name="topic_cmd_vel" value="/base_controller/command"/>
		</include>
		<include file="$(find neo_base_mpo_500)/ros/launch/serrelay/relayboard.launch">
			<arg name="loadDrives" value="false"/>
		</include>
		<include file="$(find neo_base_mp_500)/ros/launch/serrelay/srb_drives.launch"/>
		<!--sensors-->
		<include file="$(find neo_base_mpo_500)/ros/launch/sick/sick_s300.launch">
			<arg name="name" value="sick_front"/>
			<arg name="scanner_type" value="$(env ROBOT)_front"/>
		</include>
		<include file="$(find neo_base_mpo_500)/ros/launch/sick/sick_s300.launch">
			<arg name="name" value="sick_back"/>
			<arg name="scanner_type" value="$(env ROBOT)_back"/>
		</include>
		<include file="$(find neo_base_mpo_500)/ros/launch/sick/unify_scans.launch"/>
		<!--tf broadcaster-->
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find neo_description_mpo_500)/ros/robot/mpo_500.urdf.xacro'" />
		<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
			<param name="publish_frequency" type="double" value="100.0" />
		</node>
		<!--tele operator-->
		<include file="$(find neo_teleop)/ros/launch/teleop.launch">
			<arg name="topicCmdVel" value="/base_controller/command"/>
		</include>

	</group>
</launch>
